<div class="navbar">
    <div class="logo">
        <h2><a href="{% url 'freelancer-home' %}">FreeLancer</a></h2>
    </div>
    <div class="navlinks">
        <ul id="navs">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'browse_projects' %}">Browse Projects</a></li>
            <li><a href="{% url 'view_freelancers' %}">Freelancers</a></li>
            <li><a href="{% url 'freelancer-home' %}">Dashboard</a></li>
            <li><a href="{% url 'freelancer-logout' %}" class="logout-link">Logout</a></li>
        </ul>
    </div>
</div>
