<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <meta name="description" content="A brief description of the page">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Your Name">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/client_pov.css'%}"> <!-- Link to external CSS file -->
    <script src="{% static 'scripts/script.js' %}" defer></script> <!-- Link to external JavaScript file -->
</head>
<body>
    <diV class="client_home">
        <div class="client_details">
                <div>Client details<hr></div>
                
                <div><a class="client_menu_a" href="{% url 'client-add-project'%}"> Add a project Project</a><hr></div>
               
                <div>Remaining  Project<hr></div>
               
                <div>Total Projects<hr></div>
                
                <div>Bank Balance<hr></div>

                <div class="log_out">Log Out</div>
                
        </div>
        <div class="extra">
         <div>
             Search Freelancer 
             <input type="text" placeholder="Search ID or Project">
        </div>
        <div>
                <div class ="extra_in_div">
                   <div> <label id="FAQs"> FAQs</label></div>
                    <div> <label id="FAQs"> Home</label></div>
                    <div><label id="FAQs"> How it works</label></div>
                    <div><label id="FAQs"> Recent projects and freelancers</label></div>

                </div>
        </div>  
        </diV>
</body>
</html>
