<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- Company Info -->
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
    
                <!-- For Clients -->
                <div class="footer-col">
                    <h4>For Clients</h4>
                    <ul>
                        <li><a href="#">Find Freelancers</a></li>
                        <li><a href="#">Post a Project</a></li>
                        <li><a href="#">Manage Projects</a></li>
                        <li><a href="#">Payment & Security</a></li>
                    </ul>
                </div>
    
                <!-- For Freelancers -->
                <div class="footer-col">
                    <h4>For Freelancers</h4>
                    <ul>
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Freelancer Guide</a></li>
                        <li><a href="#">Earn Money</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
    
                <!-- Follow Us -->
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#">
                            <img class="fab fa-facebook-f" src="{% static 'photos/facebook.png' %}" alt="facebook">
                        </a>
                        <a href="#"><img class="fab fa-instagram-f" src="{% static 'photos/instagram.png' %}" alt="facebook"></a>
                        <a href="#"><img class="fab fa-twitter-f" src="{% static 'photos/twitter.png' %}" alt="facebook"></a>
                        <a href="#"><img class="fab fa-linkedin-f" src="{% static 'photos/linkedin.png' %}" alt="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <span class="last">
        Copyright © 2025 Freelancer. All rights reserved.
   </span>
</body>
</html>