    <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Freelancer</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/Home-Hero.css' %}">
        <link rel="stylesheet" href="{% static 'css/Home.css' %}">
        <link rel="stylesheet" href="{% static 'css/Reach-information.css' %}">
        <link rel="stylesheet" href="{% static 'css/Footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/joinus-button.css' %}">
</head>
<body>
    <div class="container">
         {% include 'user/navbar.html' %}
         
        <div class="Herosection">
            <div class="left">
                <div class="text-container">
                    <h1 class="Head">
                        <span class="prefix">Hire The </span>
                        <div class="message">
                            <div class="word1" id="word1">Top Rated Freelancers</div>
                            <div class="word2" id="word2">Skilled & Verified experts</div>
                            <div class="word3" id="word3">Certified Experts</div>
                            <div class="word4" id="word4">Best-in-class Talent</div>
                        </div>
                    </h1>
                </div>
                <div class="desc">
                    <span>
                        Connect with top talent from around the world. Post your project, get proposals, and hire the best freelancer in minutes. Whether you need a developer, designer, writer, or marketer-your perfect match is just a click away!
                    </span>
                    <a class="Joinus-button" href="{% url 'user_type' %}">Join Us</a>
                </div>
            </div>
            <div class="image">
                <img src="{% static 'AboutFreelancers/assets/Freelancer-2.png' %}" alt="">
            </div>
            </div>
            <hr class="line1">
            <div class="reach-information">
                <div class="col">
                    <img src="{% static 'AboutFreelancers/assets/Client-reach.png' %}" alt="client">
                    <div class="head">
                        <h1 id="clients-count">0</h1>
                        <h1>+</h1>
                    </div>
                    <span>Happy Clients</span>
                </div>
                <div class="col" id="freelancer">
                    <img src="{% static 'AboutFreelancers/assets/Freelancer-reach.png' %}" alt="Freelancers" id="freelancerimg">
                    <div class="head">
                            <h1 id="freelancers-count">0</h1>
                            <h1>+</h1>
                    </div>
                    <span>Top Freelancers</span>
                </div>
                <div class="col">
                    <img src="{% static 'AboutFreelancers/assets/Project-reach.png' %}" alt="Projects">
                    <div class="head">
                        <h1 id="projects-count">0</h1>
                        <h1>+</h1>
                    </div>
                    <span>Active Projects</span>
                </div>
            </div>
            {% include 'user/footer.html' %}
           
        </div>
    </div>
    <script src="{% static 'scripts/Home.js' %}"></script>
    <script src="{% static 'scripts/Joinus-button.js' %}"></script>
    <script src="{% static 'scripts/Reach-information.js' %}"></script>

</body>
</html>
