<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
     <div class="content">
        <h1>Join as Businessman or Freelancer</h1>

        <div class="selection">
            <a href="{% url 'client-signup-page' %}">
                <div class="div" >
                    <img src="{% static 'photos/assets/businessman-svgrepo-com.svg' %}" alt="Businessman">
                    <h2>I am businessman</h2>
                    <p>
                        I need skilled professionals to bring my ideas to life.
                        Let's connect and get the job done! </p>
                </div>
            </a>
            <a href="{% url 'freelancer-signup-page' %}">
                <div class="div">
                    <img src="{%static 'photos/assets/icons8-freelance-58.png'%}" alt="Freelancer">
                    <h2>I am Freelancer.</h2>
                    <p>I'm looking for exciting projects that match my expertise.
                        Let's collaborate and build something amazing!</p>
                </div>
            </a>
        </div>
     </div>
</body>
</html>