<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Home.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <a href="#">
          <img src="" alt="Logo" />
        </a>
      </div>
      <div class="navlinks">
        <ul id="navs">
          <li><a href="Home.html">Home</a></li>
          <li><a href="{% url 'browse_projects' %}">Browse Projects</a></li>
          {% if request.session %}
          <li><a href="b">Manage Project</a></li>
          {% endif %}
          <li><a href="c">Freelancers</a></li>
          <li><a href="d">About</a></li>
        </ul>

        {% if request.session %}
        <!-- profile -->
        <!-- need to add here AboutFreelancer of actual user -->
        <div class="profile-container">
          <div class="profile-icon">
            {% if client.profile_pic %}
            <img src="{{ client.profile_pic }}"  alt=""/>
            {% endif %}
        </div>
        </div>
        {% endif %}

        <div class="postproject">
          <!-- {% if user.is_authenticated %} -->
          <!-- {% endif %} -->
          <a href="{% url 'user_type' %}">Hire a Freelancer</a>
        </div>
      </div>
    </div>
  </body>
</html>
